div {
  display: flex;
  flex-wrap: wrap;
 
}

.kitchen {
  background-color: aqua;
}

.living-room {
  background-color: burlywood;
  font-size: 40px;
}

.bedroom-1 {
  background-color: darkolivegreen;
  font-size: 40px;
}

.bedroom-2{
  background-color: darkolivegreen;
  font-size: 40px;
}

.bedroom-3 {
  background-color: darkolivegreen;
  font-size: 40px;
}

.full-bath {
 background-color: coral;
 font-size: 40px;
}

.half-bath {
  background-color: coral;
  font-size: 20px;
}

.oven {
  background-color: blueviolet;
  font-size: 20px;
  height: 50%;
}

.sink {
  background-color: brown;
  font-size: 20px;
  height: 50%;
}
